#venuesview {
    position: relative;
    height: auto;
}

#playlistview {
    display: none;
}

#venuesnearby {
    outline: 2px solid black;
}

.spotify-song {
    padding: 0.35em;
    border-radius: 3px;
}

.playlistentry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.playlistentry-left {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

div.entry-name {
    overflow: hidden;
}

.header-icon {
    height: 2em;
    width: 2em;
    float: left;
    margin: 0.2em 1em 0.2em 0.5em;
    background-size: cover;
}

.entry-type {
    flex-shrink: 0;
    height: 1.4em;
    width: 1.4em;
    float: left;
    margin-right: 0.4em;
    background-size: cover;
}

.icon-spotify {
    background-image: url('../img/spotify.png');
}

.icon-youtube {
    background-image: url('../img/youtube.png');
}

.voting {
    flex-basis: 75px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.voting > div {
    margin-left: 5px;
    margin-right: 5px;
}

#content {
    margin: 3vh auto 0 auto;
    width: 90vw;
}

@media screen and (min-width: 765px) {
    #content {
        width: 700px;
    }
}

.venue {
    font-size: 1.5em;
    padding: 8px 5px 5px 8px;
    margin-bottom: 5px;
    background-color: #616161;
    border-radius: 3px;
}

.venue:hover {
    background-color: #616161;
}

#new {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E64A19;
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 58px;
    border-radius: 26px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 4px 5px 6px #212121;
}

#search-input {
    margin: 0.8em 0;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
}

.form-buttons input {
    flex-basis: 100px;
}

#add-content-box {
    position: fixed;
    bottom: 2vh;
    z-index: 10;
    background-color: #424242;
    border-radius: 5px;
}

#add-content-box-placeholder {
    height: 7em;
}

#search-results-box {
    box-shadow: 0 0 0 1000px black;
    position: fixed;
    z-index: 20;
    top: 3vh;
    background-color: #424242;
    max-height: 94vh;
    overflow: scroll;
    border-radius: 5px;
}

#search-results-box::-webkit-scrollbar {
    display: none;
}

#search-results-box h3 {
}

#close-search-results {
    margin: 1em auto;
    display: block;
}

#search-results {
}
