#venuesview {
    position: relative;
    height: auto;
}

#playlistview {
    display: none;
}

#venuesnearby {
    outline: 2px solid black;
}

.playlistentry {
    display: flex;
    justify-content: space-between;
}

.voting {
    flex-basis: 75px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.voting > div {
    margin-left: 5px;
    margin-right: 5px;
}

#content {
    margin: 3vh auto 0 auto;
    width: 90vw;
}

@media screen and (min-width: 765px) {
    #content {
        width: 700px;
    }
}

.venue {
    font-size: 1.5em;
    padding: 8px 5px 5px 8px;
    margin-bottom: 5px;
    background-color: #212121;
    border-radius: 3px;
}

.venue:hover {
    background-color: #616161;
}

.playlistentry {
    background-color: #212121;
}

#new {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E64A19;
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 58px;
    border-radius: 26px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 4px 5px 6px #212121;
}

#search-input {
    margin: 0.8em 0;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
}

.form-buttons input {
    flex-basis: 100px;
}

#add-content-box {
    position: fixed;
    bottom: 2vh;
    left: 3vw;
    width: 90vw;
    padding: 2vh 2vw;
    z-index: 10;
    background-color: #212121;
    border-radius: 6px;
}

#add-content-box-placeholder {
    height: 7em;
}