#venuesview {

}

#playlistview {
    display: none;
}

#venuesview, #playlistview {
    width: 100%;
    height: 100%;
}

#venuesnearby {
    outline: 2px solid black;
}

.playlistentry {
    display: flex;
    justify-content: space-between;
}

.voting {
    flex-basis: 75px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.voting > div {
    margin-left: 5px;
    margin-right: 5px;
}